@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter-reg;
  src: url('../../public/fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: onset-bold;
  src: url('../../public/fonts/onset/Onest-Bold.ttf');
}

@font-face {
  font-family: onset-semibold;
  src: url('../../public/fonts/onset/Onest-SemiBold.ttf');
}

body {
  font-family: inter-reg;
  font-size: 1.063rem;
  font-style: normal;
  line-height: normal;
}


.hero {
  font-family: onset-semibold;
  font-size: 3.5rem;
  font-style: normal;
}

@media (min-width:768px) and (max-width:1024px) {
  .hero {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    font-size:2.5rem;
  }
}

h1 {
  font-family: onset-bold;
  font-size: 2.5rem;

}

@media (min-width:768px) and (max-width:1024px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
}


h2 {
  font-family: onset-bold;
  font-size: 2.5rem;
  font-weight: 700;
}

@media (min-width:768px) and (max-width:1024px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
    font-family: onset-bold;
}

h4 {
  font-family: onset-bold;
}

.onset-bold{
  font-family: onset-bold;
}

.onset-semibold {
  font-family: onset-semibold;
}


.nav-link{
  color: #303030;
  font-family: onset-bold;
  font-size: 14px;
}


.brand-blue-bg{
  background-color: #1C4F70;
}


.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.post p{
  margin-top: 25px;
}

.post ul {
  margin-left: 25px;
  margin-top: 10px;
  list-style-type: disc;
}


.post{
  all: unset !important;
}


